[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
djangorestframework = "*"
pygments = "*"
coreapi = "*"
coreapi-cli = "*"
django-heroku = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
